/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Mulish&display=swap');

/* font-family: 'DM Sans', sans-serif;
font-family: 'Mulish', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all .1s ease;
}

html {
    scroll-behavior: smooth;
}

/* Header */
header {
    max-width: 1070px;
    margin-left: 184px;
    margin-right: 186px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

/* Logo */
#logo {
    height: 41px;
    width: 200px;
}

.nav {
    display: flex;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

/* Navbar */
.nav-link {
    color: #696871;
    font-size: 15px;
}

.nav-item {
    margin-right: 48px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item:nth-child(1) {
    margin-left: 173px;
}

.nav-btn {
    margin-left: 148px;
    background-color: #ff7143;
    border-radius: 10px;
    width: 211px;
    height: 60px;
    padding: 19px 59px;
    cursor: pointer;
}

.nav-btn a {
    color: #ffffff;
    font-size: 17px;
    line-height: 20px;
}

.nav-link:hover {
    color: #19191b;
    border-bottom: 2px solid #5454d4;
}

.nav-link.active {
    color: #19191b;
    border-bottom: 2px solid #5454d4;
}

.nav-btn:hover {
    border: none;
    background-color: #9F3919;
}

.nav-btn a:hover {
    color: #ffffff;
    border-bottom: none;
}

/* Main */
.wrapper {
    max-width: 1070px;
    margin-left: 184px;
    margin-right: 186px;
    margin: 0 auto;
}

.main {
    margin-top: 100px;
}

.main-hero {
    display: flex;
    align-items: center;
}

.main-title {
    color: #19191b;
    font-family: "DM sans", sans-serif;
    font-size: 80px;
    line-height: 77px;
    margin-right: 74px;
    width: 462px;
    height: 231px;
    font-weight: 700;
    margin-top: -185px;
    letter-spacing: -2.50105px;
}

.main-description {
    color: #696871;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    margin-top: 30px;
    width: 459px;
    height: 90px;
}

.main-additional {
    display: flex;
    align-items: center;
}

.main-link {
    background-color: #5454d4;
    padding: 19px 59px;
    width: 211px;
    height: 60px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 17px;
    font-family: 'DM Sans', sans-serif;
    margin-top: -320px;
}

.main-link:hover {
    background-color: #3f3f8d;
}

.arrow-down {
    border: 1px solid #696871;
    padding: 18px 19px;
    border-radius: 100%;
    margin-top: -320px;
    margin-left: 40px;
}

/* Logo group */
.logo-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.hero-add {
    display: flex;
    flex-direction: column;
    width: 556px;
    height: 229px;
    margin-left: 165px;
}

.hero-title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    height: 57px;
    line-height: 57px;
    color: #19191b;
    margin-bottom: 30px;
}

.hero-description {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #696871;
    margin-bottom: 30px;
}

.hero-link {
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    line-height: 20px;
    color: #5454D4;
}

/* Content */
.content {
    display: flex;
    align-items: center;
    margin-top: 83px;
}

.content img {
    margin-left: 61px;
    margin-top: 83px;
}

.content-title {
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #19191b;
    line-height: 57px;
    margin-bottom: 30px;
    width: 556px;
}

.content-description {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #696871;
    margin-bottom: 30px;
    width: 459px;
    height: 60px;
}

.content-link {
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    line-height: 20px;
    color: #5454D4;
}

/* Card -Calculator Camera */
.logoipsum-benchmark {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}

.logoipsum-benchmark img {
    margin-left: -40px;
}

.card-title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-right: 80px;
}

.card-description {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 307px;
    height: 48px;
    text-align: center;
    color: #696871;
    margin-right: 74px;
}

.calculator-title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-right: 80px;
}

.calculator-description {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 307px;
    height: 48px;
    text-align: center;
    color: #696871;
    margin-right: 74px;
}

.camera-title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.camera-description {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 307px;
    height: 48px;
    text-align: center;
    color: #696871;
}

/* Price */
.pricing {
    margin-top: 159px;
}

.article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: #19191b;
    line-height: 70px;
    width: 523px;
    height: 140px;
    letter-spacing: -0.88px;
}

.pricing-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 344px;
    height: 65px;
    border-radius: 10px;
    background-color: #f7f7fb;
    padding: 10px;
}

span:nth-last-child(2) {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #FFFFFF;
    background-color: #5454d4;
    border-radius: 10px 0 0 10px;
    width: 260px;
    height: 55px;
    padding: 18px 58px 16px 58px;
}

.pricing-links p {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #19191b;
    padding: 23px 48px;
}

/* Sale */
.sale {
    display: flex;
    justify-content: space-between;
    margin-bottom: 149px;
}

.sale-card {
    margin-top: 164px;
    background-color: #f8f8f8;
    border-radius: 10px;
    width: 330px;
    height: 441px;
    text-align: center;
    transition: .3s;
}

.sale-card:hover {
    background-color: #ff7143;
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.sale-title {
    margin-top: 34px;
    font-family: 'DM sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #696871;
}

.sale-card:hover > .sale-title {
    color: #ffffff;
}

.sale-price {
    font-family: 'DM sans', sans-serif;
    font-size: 60px;
    line-height: 56px;
    font-weight: 700;
    color: #1d293f;
    margin-top: 22px;
}

.sale-price span {
    font-size: 28px;
}

.sale-website {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 17px;
    font-style: normal;
    line-height: 50px;
    color: #696871;
    margin-top: 28px;
    margin-bottom: 36px;
}

.sale-link {
    padding: 19px 100px;
    background-color: #ffffff;
}

.sale-link:hover {
    background-color: #9F3919;
    color: #ffffff;
}

.sale-card a {
    font-family: 'DM sans', sans-serif;
    height: 22px;
    width: 201px;
    font-size: 17px;
    color: #5454d4;
    line-height: 20px;
}


